body {
display:flex;
}

header{
    display: inline;
}

nav{
    width: 250px;
    background-color: rgb(23, 124, 182);
    color: white;
    padding: 20px;
}
main > img{
    width: 250px;
    border: 1px solid rgb(23, 124, 182);
    display: block;  
    margin-left: auto;
    margin-right: auto;
    
}

