@font-face {
  font-family: charm;
  src: url(fonts/Charm/Charm-Bold.ttf);
}
body {
  background-image: url(imagens/barra-lateral.png);
  background-repeat: repeat-y;
}

div {
  display: flex;
}

header {
  background-image: url(imagens/bach-header-1.png);
  height: 100px;
  display: flex;
  align-items: center;
}

header img {
  width: 50px;
  height: 50px;
  padding: 10px;
  padding-top: 20px;
}

nav ul {
  list-style-image: url(imagens/seta-menu.png);
}

nav li a {
  text-decoration: dotted;
  color: black;
}

nav {
  line-height: 40px;
  width: 192px;
  background-color: #d4e3fe;
  color: white;
}
nav ul :hover {
  background: #738fc4;
  color: white;
}

nav ul a.ctive,
nav ul a.ctive:hover {
  background: #d4e3fe;
  color: white;
}

main > img {
  width: 390px;
  border: 1px solid #1a77b3;
  display: block;
  margin-left: 200px;
  margin-right: auto;
}
main {
  margin-left: 3%;
}
p,
h2 {
  color: #1a77b3;
}

h2 {
  border-bottom: 2px solid #1a77b3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  color: white;
  font-family: charm;
  letter-spacing: 5px;
}

header div {
  background-color: #171748;
  width: 300px;
  height: 100px;
}

#imgDois,
#imgTres {
  margin-top: 10px;
}
#imgTres {
  width: 40%;
}

ul li {
  color: #1a77b3;
}

p {
  padding: 0%;
  margin: 0%;
}

#usabilidade {
  padding-left: 5px;
}

#centrado {
  margin-left: 5%;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
td,
tr {
  border: 1px solid #000; /* Borda preta */
  padding: 8px;
  text-align: left;
}

.azul {
  text-align: center;
  background-color: #d4e3fe;
}
